In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

### 1. Loading Data

In [29]:
df = pd.read_csv('data/df.csv')

In [30]:
df.shape

(9125, 3)

### 2. Preprocessing Data

In [31]:
train_index = int(len(df)*0.9)

In [40]:
df_train = df[:train_index]
df_test = df[train_index:]

In [33]:
def str_to_features(X, type=int):
    return pd.DataFrame(np.array([np.array(list(map(type, item[1:-1].split(", ")))) for item in X.values]))

In [42]:
X_train_pd = df_train['embedding']
X_train_pd = str_to_features(X_train_pd, float)
X_train_pd.columns = [str(col) for col in range(1, 101)]
y_train_pd = str_to_features(df_train['genres'])

X_test_pd = df_test['embedding']
X_test_pd = str_to_features(X_test_pd, float)
X_test_pd.columns = [str(col) for col in range(1, 101)]
y_test_pd = str_to_features(df_test['genres'])

In [43]:
X_train = X_train_pd.to_numpy()
X_test = X_test_pd.to_numpy()
y_train = y_train_pd.to_numpy()
y_test = y_test_pd.to_numpy()

### 3. Model building: NN for Multi-label Classification with Keras

In [15]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(256, activation='relu', input_shape=(X_train.shape[1],)))
model.add(tf.keras.layers.Dropout(0.1))
model.add(tf.keras.layers.Dense(20, activation='sigmoid'))

In [16]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_2 (Dense)              (None, 256)               25856
_________________________________________________________________
dropout_1 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_3 (Dense)              (None, 20)                5140
=================================================================
Total params: 30,996
Trainable params: 30,996
Non-trainable params: 0
_________________________________________________________________

In [17]:
sgd = tf.keras.optimizers.SGD(learning_rate=0.01)
loss='binary_crossentropy'
model.compile(loss=loss, optimizer=sgd, metrics=['accuracy', tf.keras.metrics.AUC(name='my_auc'), tf.keras.metrics.Recall()])

In [18]:
model.fit(X_train, y_train, epochs=100, batch_size=500)

Train on 8212 samples
Epoch 1/100
8212/8212 [==============================] - 2s 222us/sample - loss: 0.8539 - accuracy: 0.5216 - my_auc: 0.5778 - recall_2: 0.5985
Epoch 2/100
8212/8212 [==============================] - 1s 83us/sample - loss: 0.7178 - accuracy: 0.6077 - my_auc: 0.5974 - recall_2: 0.5272
Epoch 3/100
8212/8212 [==============================] - 1s 84us/sample - loss: 0.6208 - accuracy: 0.6765 - my_auc: 0.6133 - recall_2: 0.4666
Epoch 4/100
8212/8212 [==============================] - 1s 82us/sample - loss: 0.5528 - accuracy: 0.7294 - my_auc: 0.6292 - recall_2: 0.4209
Epoch 5/100
8212/8212 [==============================] - 1s 106us/sample - loss: 0.5025 - accuracy: 0.7688 - my_auc: 0.6425 - recall_2: 0.3851
Epoch 6/100
8212/8212 [==============================] - 1s 85us/sample - loss: 0.4647 - accuracy: 0.7965 - my_auc: 0.6552 - recall_2: 0.3544
Epoch 7/100
8212/8212 [==============================] - 1s 144us/sample - loss: 0.4369 - accuracy: 0.8182 - my_auc: 0.6641 - recall_2: 0.3312
Epoch 8/100
8212/8212 [==============================] - 0s 59us/sample - loss: 0.4132 - accuracy: 0.8341 - my_auc: 0.6778 - recall_2: 0.3122
Epoch 9/100
8212/8212 [==============================] - 0s 59us/sample - loss: 0.3954 - accuracy: 0.8457 - my_auc: 0.6875 - recall_2: 0.3043
Epoch 10/100
8212/8212 [==============================] - 1s 69us/sample - loss: 0.3806 - accuracy: 0.8546 - my_auc: 0.6969 - recall_2: 0.2945
Epoch 11/100
8212/8212 [==============================] - 1s 119us/sample - loss: 0.3672 - accuracy: 0.8625 - my_auc: 0.7085 - recall_2: 0.2902
Epoch 12/100
8212/8212 [==============================] - 1s 88us/sample - loss: 0.3564 - accuracy: 0.8686 - my_auc: 0.7167 - recall_2: 0.2839
Epoch 13/100
8212/8212 [==============================] - 1s 79us/sample - loss: 0.3480 - accuracy: 0.8728 - my_auc: 0.7248 - recall_2: 0.2789
Epoch 14/100
8212/8212 [==============================] - 1s 85us/sample - loss: 0.3390 - accuracy: 0.8770 - my_auc: 0.7339 - recall_2: 0.2799
Epoch 15/100
8212/8212 [==============================] - 1s 88us/sample - loss: 0.3316 - accuracy: 0.8801 - my_auc: 0.7430 - recall_2: 0.2783
Epoch 16/100
8212/8212 [==============================] - 1s 106us/sample - loss: 0.3256 - accuracy: 0.8827 - my_auc: 0.7494 - recall_2: 0.2813
Epoch 17/100
8212/8212 [==============================] - 1s 97us/sample - loss: 0.3199 - accuracy: 0.8857 - my_auc: 0.7562 - recall_2: 0.2819
Epoch 18/100
8212/8212 [==============================] - 1s 83us/sample - loss: 0.3139 - accuracy: 0.8880 - my_auc: 0.7636 - recall_2: 0.2849
Epoch 19/100
8212/8212 [==============================] - 1s 79us/sample - loss: 0.3093 - accuracy: 0.8890 - my_auc: 0.7699 - recall_2: 0.2790
Epoch 20/100
8212/8212 [==============================] - 1s 80us/sample - loss: 0.3049 - accuracy: 0.8907 - my_auc: 0.7763 - recall_2: 0.2856
Epoch 21/100
8212/8212 [==============================] - 1s 79us/sample - loss: 0.3000 - accuracy: 0.8931 - my_auc: 0.7822 - recall_2: 0.2881
Epoch 22/100
8212/8212 [==============================] - 1s 83us/sample - loss: 0.2957 - accuracy: 0.8942 - my_auc: 0.7888 - recall_2: 0.2918
Epoch 23/100
8212/8212 [==============================] - 1s 109us/sample - loss: 0.2920 - accuracy: 0.8956 - my_auc: 0.7940 - recall_2: 0.2959
Epoch 24/100
8212/8212 [==============================] - 1s 130us/sample - loss: 0.2885 - accuracy: 0.8965 - my_auc: 0.7988 - recall_2: 0.3014
Epoch 25/100
8212/8212 [==============================] - 1s 119us/sample - loss: 0.2853 - accuracy: 0.8978 - my_auc: 0.8033 - recall_2: 0.3013
Epoch 26/100
8212/8212 [==============================] - 1s 117us/sample - loss: 0.2813 - accuracy: 0.8990 - my_auc: 0.8092 - recall_2: 0.3077
Epoch 27/100
8212/8212 [==============================] - 1s 120us/sample - loss: 0.2783 - accuracy: 0.8999 - my_auc: 0.8141 - recall_2: 0.3088
Epoch 28/100
8212/8212 [==============================] - 1s 120us/sample - loss: 0.2753 - accuracy: 0.9011 - my_auc: 0.8176 - recall_2: 0.3145
Epoch 29/100
8212/8212 [==============================] - 1s 107us/sample - loss: 0.2726 - accuracy: 0.9026 - my_auc: 0.8214 - recall_2: 0.3199
Epoch 30/100
8212/8212 [==============================] - 1s 117us/sample - loss: 0.2696 - accuracy: 0.9033 - my_auc: 0.8258 - recall_2: 0.3222
Epoch 31/100
8212/8212 [==============================] - 1s 99us/sample - loss: 0.2672 - accuracy: 0.9046 - my_auc: 0.8295 - recall_2: 0.3265
Epoch 32/100
8212/8212 [==============================] - 1s 116us/sample - loss: 0.2640 - accuracy: 0.9049 - my_auc: 0.8337 - recall_2: 0.3259
Epoch 33/100
8212/8212 [==============================] - 1s 116us/sample - loss: 0.2616 - accuracy: 0.9063 - my_auc: 0.8372 - recall_2: 0.3352
Epoch 34/100
8212/8212 [==============================] - 1s 120us/sample - loss: 0.2590 - accuracy: 0.9071 - my_auc: 0.8408 - recall_2: 0.3388
Epoch 35/100
8212/8212 [==============================] - 1s 97us/sample - loss: 0.2567 - accuracy: 0.9080 - my_auc: 0.8438 - recall_2: 0.3439
Epoch 36/100
8212/8212 [==============================] - 1s 128us/sample - loss: 0.2542 - accuracy: 0.9086 - my_auc: 0.8479 - recall_2: 0.3489
Epoch 37/100
8212/8212 [==============================] - 1s 108us/sample - loss: 0.2522 - accuracy: 0.9092 - my_auc: 0.8502 - recall_2: 0.3520
Epoch 38/100
8212/8212 [==============================] - 1s 107us/sample - loss: 0.2490 - accuracy: 0.9100 - my_auc: 0.8551 - recall_2: 0.3564
Epoch 39/100
8212/8212 [==============================] - 1s 137us/sample - loss: 0.2471 - accuracy: 0.9107 - my_auc: 0.8574 - recall_2: 0.3596
Epoch 40/100
8212/8212 [==============================] - 1s 97us/sample - loss: 0.2444 - accuracy: 0.9112 - my_auc: 0.8617 - recall_2: 0.3620
Epoch 41/100
8212/8212 [==============================] - 1s 68us/sample - loss: 0.2428 - accuracy: 0.9120 - my_auc: 0.8635 - recall_2: 0.3679
Epoch 42/100
8212/8212 [==============================] - 1s 105us/sample - loss: 0.2406 - accuracy: 0.9127 - my_auc: 0.8665 - recall_2: 0.3733
Epoch 43/100
8212/8212 [==============================] - 1s 90us/sample - loss: 0.2382 - accuracy: 0.9137 - my_auc: 0.8694 - recall_2: 0.3782
Epoch 44/100
8212/8212 [==============================] - 1s 128us/sample - loss: 0.2365 - accuracy: 0.9140 - my_auc: 0.8715 - recall_2: 0.3785
Epoch 45/100
8212/8212 [==============================] - 1s 87us/sample - loss: 0.2347 - accuracy: 0.9149 - my_auc: 0.8739 - recall_2: 0.3827
Epoch 46/100
8212/8212 [==============================] - 1s 100us/sample - loss: 0.2324 - accuracy: 0.9156 - my_auc: 0.8772 - recall_2: 0.3900
Epoch 47/100
8212/8212 [==============================] - 1s 92us/sample - loss: 0.2309 - accuracy: 0.9160 - my_auc: 0.8785 - recall_2: 0.3918
Epoch 48/100
8212/8212 [==============================] - 1s 87us/sample - loss: 0.2291 - accuracy: 0.9171 - my_auc: 0.8809 - recall_2: 0.3968
Epoch 49/100
8212/8212 [==============================] - 1s 85us/sample - loss: 0.2269 - accuracy: 0.9172 - my_auc: 0.8839 - recall_2: 0.3988
Epoch 50/100
8212/8212 [==============================] - 1s 78us/sample - loss: 0.2254 - accuracy: 0.9178 - my_auc: 0.8854 - recall_2: 0.4014
Epoch 51/100
8212/8212 [==============================] - 1s 88us/sample - loss: 0.2237 - accuracy: 0.9184 - my_auc: 0.8880 - recall_2: 0.4048
Epoch 52/100
8212/8212 [==============================] - 1s 93us/sample - loss: 0.2221 - accuracy: 0.9193 - my_auc: 0.8897 - recall_2: 0.4128
Epoch 53/100
8212/8212 [==============================] - 1s 105us/sample - loss: 0.2208 - accuracy: 0.9196 - my_auc: 0.8914 - recall_2: 0.4160
Epoch 54/100
8212/8212 [==============================] - 1s 79us/sample - loss: 0.2181 - accuracy: 0.9211 - my_auc: 0.8940 - recall_2: 0.4221
Epoch 55/100
8212/8212 [==============================] - 1s 81us/sample - loss: 0.2171 - accuracy: 0.9210 - my_auc: 0.8956 - recall_2: 0.4243
Epoch 56/100
8212/8212 [==============================] - 1s 106us/sample - loss: 0.2158 - accuracy: 0.9213 - my_auc: 0.8973 - recall_2: 0.4264
Epoch 57/100
8212/8212 [==============================] - 1s 79us/sample - loss: 0.2141 - accuracy: 0.9226 - my_auc: 0.8989 - recall_2: 0.4328
Epoch 58/100
8212/8212 [==============================] - 1s 80us/sample - loss: 0.2121 - accuracy: 0.9230 - my_auc: 0.9013 - recall_2: 0.4357
Epoch 59/100
8212/8212 [==============================] - 1s 78us/sample - loss: 0.2107 - accuracy: 0.9232 - my_auc: 0.9032 - recall_2: 0.4376
Epoch 60/100
8212/8212 [==============================] - 1s 77us/sample - loss: 0.2095 - accuracy: 0.9238 - my_auc: 0.9043 - recall_2: 0.4423
Epoch 61/100
8212/8212 [==============================] - 1s 78us/sample - loss: 0.2073 - accuracy: 0.9238 - my_auc: 0.9071 - recall_2: 0.4441
Epoch 62/100
8212/8212 [==============================] - 1s 78us/sample - loss: 0.2060 - accuracy: 0.9244 - my_auc: 0.9084 - recall_2: 0.4464
Epoch 63/100
8212/8212 [==============================] - 1s 81us/sample - loss: 0.2051 - accuracy: 0.9255 - my_auc: 0.9091 - recall_2: 0.4533
Epoch 64/100
8212/8212 [==============================] - 1s 95us/sample - loss: 0.2028 - accuracy: 0.9260 - my_auc: 0.9117 - recall_2: 0.4567
Epoch 65/100
8212/8212 [==============================] - 1s 92us/sample - loss: 0.2022 - accuracy: 0.9256 - my_auc: 0.9129 - recall_2: 0.4556
Epoch 66/100
8212/8212 [==============================] - 1s 86us/sample - loss: 0.2007 - accuracy: 0.9268 - my_auc: 0.9145 - recall_2: 0.4629
Epoch 67/100
8212/8212 [==============================] - 1s 78us/sample - loss: 0.1992 - accuracy: 0.9271 - my_auc: 0.9153 - recall_2: 0.4639
Epoch 68/100
8212/8212 [==============================] - 1s 81us/sample - loss: 0.1984 - accuracy: 0.9272 - my_auc: 0.9162 - recall_2: 0.4666
Epoch 69/100
8212/8212 [==============================] - 1s 75us/sample - loss: 0.1964 - accuracy: 0.9283 - my_auc: 0.9187 - recall_2: 0.4749
Epoch 70/100
8212/8212 [==============================] - 1s 70us/sample - loss: 0.1954 - accuracy: 0.9292 - my_auc: 0.9195 - recall_2: 0.4806
Epoch 71/100
8212/8212 [==============================] - 1s 75us/sample - loss: 0.1939 - accuracy: 0.9294 - my_auc: 0.9214 - recall_2: 0.4811
Epoch 72/100
8212/8212 [==============================] - 1s 74us/sample - loss: 0.1926 - accuracy: 0.9296 - my_auc: 0.9225 - recall_2: 0.4825
Epoch 73/100
8212/8212 [==============================] - 1s 78us/sample - loss: 0.1915 - accuracy: 0.9300 - my_auc: 0.9236 - recall_2: 0.4871s - loss: 0.1964 - accuracy: 0.9283 - my_auc: 0.9196 - re
Epoch 74/100
8212/8212 [==============================] - 1s 74us/sample - loss: 0.1906 - accuracy: 0.9309 - my_auc: 0.9246 - recall_2: 0.4933
Epoch 75/100
8212/8212 [==============================] - 1s 74us/sample - loss: 0.1896 - accuracy: 0.9312 - my_auc: 0.9249 - recall_2: 0.4952
Epoch 76/100
8212/8212 [==============================] - 1s 77us/sample - loss: 0.1884 - accuracy: 0.9318 - my_auc: 0.9262 - recall_2: 0.4999
Epoch 77/100
8212/8212 [==============================] - 1s 74us/sample - loss: 0.1872 - accuracy: 0.9320 - my_auc: 0.9280 - recall_2: 0.4991
Epoch 78/100
8212/8212 [==============================] - 1s 72us/sample - loss: 0.1864 - accuracy: 0.9322 - my_auc: 0.9285 - recall_2: 0.5015
Epoch 79/100
8212/8212 [==============================] - 1s 81us/sample - loss: 0.1848 - accuracy: 0.9329 - my_auc: 0.9296 - recall_2: 0.5087
Epoch 80/100
8212/8212 [==============================] - 1s 106us/sample - loss: 0.1837 - accuracy: 0.9329 - my_auc: 0.9311 - recall_2: 0.5049
Epoch 81/100
8212/8212 [==============================] - 1s 85us/sample - loss: 0.1824 - accuracy: 0.9334 - my_auc: 0.9321 - recall_2: 0.5132
Epoch 82/100
8212/8212 [==============================] - 1s 91us/sample - loss: 0.1814 - accuracy: 0.9339 - my_auc: 0.9332 - recall_2: 0.5167
Epoch 83/100
8212/8212 [==============================] - 1s 117us/sample - loss: 0.1801 - accuracy: 0.9349 - my_auc: 0.9343 - recall_2: 0.5210
Epoch 84/100
8212/8212 [==============================] - 0s 57us/sample - loss: 0.1796 - accuracy: 0.9348 - my_auc: 0.9349 - recall_2: 0.5226
Epoch 85/100
8212/8212 [==============================] - 0s 53us/sample - loss: 0.1784 - accuracy: 0.9350 - my_auc: 0.9355 - recall_2: 0.5265
Epoch 86/100
8212/8212 [==============================] - 1s 63us/sample - loss: 0.1770 - accuracy: 0.9359 - my_auc: 0.9369 - recall_2: 0.5303
Epoch 87/100
8212/8212 [==============================] - 1s 95us/sample - loss: 0.1765 - accuracy: 0.9359 - my_auc: 0.9378 - recall_2: 0.5310
Epoch 88/100
8212/8212 [==============================] - 1s 101us/sample - loss: 0.1749 - accuracy: 0.9363 - my_auc: 0.9390 - recall_2: 0.5331
Epoch 89/100
8212/8212 [==============================] - 1s 117us/sample - loss: 0.1742 - accuracy: 0.9371 - my_auc: 0.9393 - recall_2: 0.5382
Epoch 90/100
8212/8212 [==============================] - 1s 129us/sample - loss: 0.1736 - accuracy: 0.9374 - my_auc: 0.9400 - recall_2: 0.5379
Epoch 91/100
8212/8212 [==============================] - 1s 82us/sample - loss: 0.1727 - accuracy: 0.9373 - my_auc: 0.9408 - recall_2: 0.5410
Epoch 92/100
8212/8212 [==============================] - 1s 87us/sample - loss: 0.1717 - accuracy: 0.9380 - my_auc: 0.9414 - recall_2: 0.5490
Epoch 93/100
8212/8212 [==============================] - 1s 86us/sample - loss: 0.1706 - accuracy: 0.9385 - my_auc: 0.9420 - recall_2: 0.5494
Epoch 94/100
8212/8212 [==============================] - 1s 83us/sample - loss: 0.1697 - accuracy: 0.9389 - my_auc: 0.9431 - recall_2: 0.5512
Epoch 95/100
8212/8212 [==============================] - 1s 86us/sample - loss: 0.1687 - accuracy: 0.9390 - my_auc: 0.9440 - recall_2: 0.5526
Epoch 96/100
8212/8212 [==============================] - 1s 78us/sample - loss: 0.1681 - accuracy: 0.9393 - my_auc: 0.9445 - recall_2: 0.5557
Epoch 97/100
8212/8212 [==============================] - 1s 87us/sample - loss: 0.1664 - accuracy: 0.9402 - my_auc: 0.9460 - recall_2: 0.5622
Epoch 98/100
8212/8212 [==============================] - 1s 107us/sample - loss: 0.1659 - accuracy: 0.9402 - my_auc: 0.9461 - recall_2: 0.5617
Epoch 99/100
8212/8212 [==============================] - 1s 80us/sample - loss: 0.1652 - accuracy: 0.9406 - my_auc: 0.9466 - recall_2: 0.5650
Epoch 100/100
8212/8212 [==============================] - 1s 81us/sample - loss: 0.1640 - accuracy: 0.9411 - my_auc: 0.9475 - recall_2: 0.5688

In [19]:
eval_results = model.evaluate(X_test, y_test, batch_size=500)

913/913 [==============================] - 0s 470us/sample - loss: 0.1504 - accuracy: 0.9501 - my_auc: 0.9553 - recall_2: 0.6150

In [20]:
eval_results

[0.15040157397501047, 0.95005494, 0.95527303, 0.61495423]

In [21]:
model.save('data/model')

WARNING:tensorflow:From /home/irene/anaconda3/lib/python3.7/site-packages/tensorflow_core/python/ops/resource_variable_ops.py:1786: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
INFO:tensorflow:Assets written to: graph/model/assets

### 4. Evaluation of the Model

In [26]:
model = tf.keras.models.load_model('data/model')

In [28]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_2 (Dense)              (None, 256)               25856
_________________________________________________________________
dropout_1 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_3 (Dense)              (None, 20)                5140
=================================================================
Total params: 30,996
Trainable params: 30,996
Non-trainable params: 0
_________________________________________________________________

In [47]:
df_test[df_test['source'] == 9133]

,source,embedding,genres
9113,9133,"[1.3653257, 0.4937028, -0.54120785, -0.6435545...","[0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, ..."

In [23]:
#9113
from py2neo import Graph

In [24]:
graph = Graph("bolt://34.201.68.240:33498", auth=("neo4j", "hickory-approval-forties"))

In [74]:
genre_ids = graph.run("""
MATCH (g:Genre)
RETURN id(g), g.name
""").to_data_frame()

#### Test #1: "Now You See Me 2"

In [67]:
graph.run("""
MATCH (m:Movie)-[:IN_GENRE]->(g:Genre)
WHERE id(m)=9113 RETURN id(m), m.title, collect(g.name) as genres, collect(id(g)) as genres_id, m.embedding
""").to_data_frame()

,id(m),m.title,genres,genres_id,m.embedding
0,9113,Now You See Me 2,"[Comedy, Thriller, Action]","[4, 16, 13]","[0.7736787, 0.27281216, 1.1771479, 0.7808156, ..."

In [68]:
movie_now_emb = df_test[df_test['source']==9113]['embedding']
movie_now_prep = str_to_features(movie_now_emb, float)
movie_now_prep

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.773679,0.272812,1.177148,0.780816,0.753971,1.493811,3.064326,-0.301018,-1.035773,-1.643256,...,-0.30095,-3.311646,0.521261,-0.958329,-2.385756,-0.527707,-0.580122,-2.701114,3.126047,-1.200813

In [69]:
movie_now_prediction = model.predict(movie_now_prep)[0]

In [95]:
movie_now_prediction

array([0.01416788, 0.5349818 , 0.06474057, 0.03417473, 0.02288392,
       0.5535826 , 0.23779865, 0.05297919, 0.27175906, 0.05225568,
       0.04346392, 0.12970161, 0.04717398, 0.00822304, 0.24785383,
       0.07106901, 0.11238075, 0.6537531 , 0.06051804, 0.01979449],
      dtype=float32)

In [105]:
genre_ids['prob'] = pd.Series(movie_now_prediction)

    id(g)              g.name      prob
0       1           Adventure  0.014168
1       2           Animation  0.534982
2       3            Children  0.064741
3       4              Comedy  0.034175
4       6             Fantasy  0.022884
5       9             Romance  0.553583
6      10               Drama  0.237799
7      13              Action  0.052979
8      14               Crime  0.271759
9      16            Thriller  0.052256
10     23              Horror  0.043464
11     33             Mystery  0.129702
12     37              Sci-Fi  0.047174
13     49         Documentary  0.008223
14     51                IMAX  0.247854
15     56                 War  0.071069
16     63             Musical  0.112381
17    161             Western  0.653753
18    162           Film-Noir  0.060518
19   7745  (no genres listed)  0.019794

In [108]:
genre_ids.sort_values('prob', ascending=False)

    id(g)              g.name      prob
17    161             Western  0.653753
5       9             Romance  0.553583
1       2           Animation  0.534982
8      14               Crime  0.271759
14     51                IMAX  0.247854
6      10               Drama  0.237799
11     33             Mystery  0.129702
16     63             Musical  0.112381
15     56                 War  0.071069
2       3            Children  0.064741
18    162           Film-Noir  0.060518
7      13              Action  0.052979
9      16            Thriller  0.052256
12     37              Sci-Fi  0.047174
10     23              Horror  0.043464
3       4              Comedy  0.034175
4       6             Fantasy  0.022884
19   7745  (no genres listed)  0.019794
0       1           Adventure  0.014168
13     49         Documentary  0.008223

In [156]:
def predict_genres(movie_id_node, genres_id):
    movie_emb = df[df['source']==movie_id_node]['embedding']
    movie_prep = str_to_features(movie_emb, float)
    movie_prediction = model.predict(movie_prep)[0]
    genre_ids['prob'] = pd.Series(movie_prediction)
    return genre_ids.sort_values('prob', ascending=False)

In [157]:
def get_movie_info(movie_id_node, graph):
    return graph.run("""
    MATCH (m:Movie)-[:IN_GENRE]->(g:Genre) WHERE id(m)={id} RETURN m.id, m.title, collect(g.name)
    """, {'id': movie_id_node}).to_data_frame()

#### Test #2: "Zero Dark Thirty"

In [158]:
get_movie_info(8237, graph)

   m.id           m.title            collect(g.name)
0  None  Zero Dark Thirty  [Action, Thriller, Drama]

In [159]:
predict_genres(8247, genre_ids)

    id(g)              g.name      prob
8      14               Crime  0.876467
5       9             Romance  0.380440
1       2           Animation  0.246542
15     56                 War  0.140582
18    162           Film-Noir  0.131006
17    161             Western  0.097802
10     23              Horror  0.047520
11     33             Mystery  0.043420
2       3            Children  0.042514
6      10               Drama  0.041361
3       4              Comedy  0.032039
0       1           Adventure  0.027479
9      16            Thriller  0.024637
7      13              Action  0.023601
19   7745  (no genres listed)  0.021533
16     63             Musical  0.020065
13     49         Documentary  0.017799
4       6             Fantasy  0.011709
14     51                IMAX  0.011113
12     37              Sci-Fi  0.010940

#### Test #3: "Toy Story"

In [160]:
def get_movie_id(title, graph):
    return graph.run("""
    MATCH (m:Movie) WHERE m.title={title} RETURN id(m) as id
    """, {'title': title}).data()[0]['id']

In [161]:
get_movie_id('Toy Story', graph)

0

In [162]:
get_movie_info(0, graph)

   m.id    m.title                                    collect(g.name)
0  None  Toy Story  [Adventure, Animation, Children, Comedy, Fantasy]

In [163]:
predict_genres(11, graph)

    id(g)              g.name      prob
5       9             Romance  0.872234
8      14               Crime  0.317467
2       3            Children  0.291814
15     56                 War  0.248416
1       2           Animation  0.197422
14     51                IMAX  0.194053
6      10               Drama  0.122448
3       4              Comedy  0.087416
16     63             Musical  0.087406
9      16            Thriller  0.039765
13     49         Documentary  0.017834
12     37              Sci-Fi  0.015888
17    161             Western  0.014521
11     33             Mystery  0.004645
7      13              Action  0.004591
4       6             Fantasy  0.003882
0       1           Adventure  0.003741
10     23              Horror  0.003475
18    162           Film-Noir  0.002422
19   7745  (no genres listed)  0.002407

#### Test #4: Jumanji

In [164]:
get_movie_id('Jumanji', graph)

5

In [165]:
get_movie_info(5, graph)

   m.id  m.title                 collect(g.name)
0  None  Jumanji  [Adventure, Children, Fantasy]

In [166]:
predict_genres(5, graph)

    id(g)              g.name      prob
2       3            Children  0.680673
1       2           Animation  0.455555
5       9             Romance  0.332281
16     63             Musical  0.294771
9      16            Thriller  0.236778
4       6             Fantasy  0.213477
15     56                 War  0.166445
17    161             Western  0.138769
8      14               Crime  0.092888
14     51                IMAX  0.068330
18    162           Film-Noir  0.045571
3       4              Comedy  0.040385
6      10               Drama  0.028930
10     23              Horror  0.020135
11     33             Mystery  0.017824
13     49         Documentary  0.015374
12     37              Sci-Fi  0.014250
0       1           Adventure  0.011573
7      13              Action  0.006543
19   7745  (no genres listed)  0.002004

### Trying transforming the problem into several binary classification problems

In [180]:
genre_cols = genre_ids['g.name'].values

In [186]:
emb_cols = ['d' + str(i) for i in range(1, 101)]

In [193]:
new_df = df.join(pd.DataFrame(df.genres.str.strip("[]").str.split(", ").tolist(), columns=genre_cols, index=df.index, dtype=int))

In [194]:
new_df = new_df.join(pd.DataFrame(new_df.embedding.str.strip("[]").str.split(", ").tolist(), columns=emb_cols, index=new_df.index, dtype=float))

In [197]:
new_df = new_df.drop(['embedding', 'genres'], axis=1)

In [199]:
new_df

,source,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,...,d91,d92,d93,d94,d95,d96,d97,d98,d99,d100
0,0,0,0,1,1,1,1,0,0,0,...,4.866983,-1.421340,4.838544,-3.507505,-1.868826,-0.369160,1.107630,1.056987,-0.882342,-4.264614
1,5,0,0,1,0,1,0,0,0,0,...,5.732968,-0.516730,4.016620,-0.577164,-0.017154,-0.009479,1.634397,0.620139,-4.063956,-4.812520
2,7,0,0,0,0,0,1,0,0,0,...,4.395160,-0.904002,3.504909,0.375195,-1.743677,-0.212724,-0.710979,0.006432,0.609505,-0.453959
3,8,0,0,0,0,0,1,0,0,1,...,2.223411,2.859890,0.737771,0.251222,-1.521303,-0.713885,-1.579755,-4.259443,-4.009755,1.258942
4,11,0,0,0,0,0,1,0,0,0,...,3.670642,0.248816,5.397691,-1.053222,-0.000371,-1.802294,-1.750267,-3.469961,0.478070,-1.260770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9120,9140,0,0,1,0,0,0,0,0,1,...,0.674511,-1.599569,-2.585011,-3.509592,-0.676413,0.455164,-0.931492,-0.345227,-0.636330,-2.087504
9121,9141,0,1,1,0,0,0,0,0,0,...,-3.612969,1.423751,1.263315,-0.293734,-1.048563,-1.962560,0.914918,0.146634,0.557713,-2.739617
9122,9142,0,0,0,0,0,0,0,1,0,...,-1.614809,-1.497918,-1.566140,1.744732,-1.395121,-0.351850,1.300761,1.375659,1.729690,-0.228616
9123,9143,0,0,0,0,0,1,0,0,0,...,1.966081,-1.004988,-1.772244,0.721342,-2.838770,2.408803,2.469480,-1.471443,1.049527,-0.171556
9124,9144,0,0,0,0,0,0,0,1,0,...,-1.717148,-0.631081,-0.545613,0.347262,-1.249036,0.572286,-0.666343,-0.705098,0.770588,0.064856

In [201]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(new_df, random_state=42, test_size=0.20, shuffle=True)

print(train.shape)
print(test.shape)

(7300, 121)
(1825, 121)

In [202]:
x_train = train[emb_cols]
y_train = train[genre_cols]

x_test = test[emb_cols]
y_test = test[genre_cols]

In [209]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, precision_score, balanced_accuracy_score
from sklearn.multiclass import OneVsRestClassifier

In [238]:
# Using pipeline for applying logistic regression and one vs rest classifier
LogReg_pipeline = Pipeline([
                ('clf', OneVsRestClassifier(LogisticRegression(solver='sag'), n_jobs=-1)),
            ])
models = {}

for genre in genre_cols:
    print('**Processing {} comments...**'.format(genre))
    
    # Training logistic regression model on train data
    LogReg_pipeline.fit(x_train, y_train[genre])
    models[genre] = LogReg_pipeline
    
    # calculating test accuracy
    prediction = LogReg_pipeline.predict(x_test)
    print('Accuracy: {}; Balanced accuracy: {}; Precision: {}'.format(accuracy_score(y_test[genre], prediction), 
                                                                      balanced_accuracy_score(y_test[genre], prediction), 
                                                                      precision_score(y_test[genre], prediction, pos_label='1')))
    print("\n")

**Processing Adventure comments...**
Accuracy: 0.9989041095890411; Balanced accuracy: 0.8330589096231247; Precision: 0.6666666666666666


**Processing Animation comments...**
Accuracy: 0.9884931506849315; Balanced accuracy: 0.9850212945504411; Precision: 0.9511400651465798


**Processing Children comments...**
Accuracy: 0.9879452054794521; Balanced accuracy: 0.9790625451393904; Precision: 0.9327354260089686


**Processing Comedy comments...**
Accuracy: 0.9961643835616438; Balanced accuracy: 0.9887451207993354; Precision: 0.9523809523809523


**Processing Fantasy comments...**
Accuracy: 0.9961643835616438; Balanced accuracy: 0.9782277362406044; Precision: 0.9826086956521739


**Processing Romance comments...**
Accuracy: 0.9863013698630136; Balanced accuracy: 0.9849882902783743; Precision: 0.983941605839416


**Processing Drama comments...**
Accuracy: 0.9895890410958904; Balanced accuracy: 0.9837065943436449; Precision: 0.9357798165137615


**Processing Action comments...**
Accuracy: 0.9983561643835617; Balanced accuracy: 0.9944202898550725; Precision: 0.9801980198019802


**Processing Crime comments...**
Accuracy: 0.9704109589041096; Balanced accuracy: 0.9707206719111567; Precision: 0.9614074914869466


**Processing Thriller comments...**
Accuracy: 0.9928767123287672; Balanced accuracy: 0.989737076241238; Precision: 0.9276315789473685


**Processing Horror comments...**
Accuracy: 0.993972602739726; Balanced accuracy: 0.9202018265476855; Precision: 0.8181818181818182


**Processing Mystery comments...**
Accuracy: 0.9983561643835617; Balanced accuracy: 0.9943185918505252; Precision: 0.9945945945945946


**Processing Sci-Fi comments...**
Accuracy: 0.9967123287671232; Balanced accuracy: 0.9414738957540514; Precision: 0.8846153846153846


**Processing Documentary comments...**
Accuracy: 0.9961643835616438; Balanced accuracy: 0.9825415840838957; Precision: 0.956989247311828


**Processing IMAX comments...**
Accuracy: 0.9928767123287672; Balanced accuracy: 0.9751437551904296; Precision: 0.9298245614035088


**Processing War comments...**
Accuracy: 0.9912328767123287; Balanced accuracy: 0.9848421926910299; Precision: 0.975


**Processing Musical comments...**
Accuracy: 0.9917808219178083; Balanced accuracy: 0.968793976920912; Precision: 0.96


**Processing Western comments...**
Accuracy: 0.9841095890410959; Balanced accuracy: 0.9788968112497525; Precision: 0.9455587392550143


**Processing Film-Noir comments...**
Accuracy: 0.9956164383561644; Balanced accuracy: 0.9847731798045904; Precision: 0.9230769230769231


**Processing (no genres listed) comments...**
Accuracy: 0.9967123287671232; Balanced accuracy: 0.9685808982683983; Precision: 0.8857142857142857

In [226]:
get_movie_id('Zero Dark Thirty', graph)

8237

In [228]:
get_movie_info(8237, graph)

   m.id           m.title            collect(g.name)
0  None  Zero Dark Thirty  [Action, Thriller, Drama]

In [235]:
movie_to_predict = new_df[new_df['source']==8237][emb_cols]

In [241]:
genre_prediction = {}
for genre in genre_cols:
    model = models[genre]
    genre_prediction[genre] = model.predict(movie_to_predict)

In [242]:
genre_prediction

{'Adventure': array(['0'], dtype='<U1'),
 'Animation': array(['0'], dtype='<U1'),
 'Children': array(['0'], dtype='<U1'),
 'Comedy': array(['0'], dtype='<U1'),
 'Fantasy': array(['0'], dtype='<U1'),
 'Romance': array(['0'], dtype='<U1'),
 'Drama': array(['0'], dtype='<U1'),
 'Action': array(['0'], dtype='<U1'),
 'Crime': array(['0'], dtype='<U1'),
 'Thriller': array(['0'], dtype='<U1'),
 'Horror': array(['0'], dtype='<U1'),
 'Mystery': array(['0'], dtype='<U1'),
 'Sci-Fi': array(['0'], dtype='<U1'),
 'Documentary': array(['0'], dtype='<U1'),
 'IMAX': array(['0'], dtype='<U1'),
 'War': array(['0'], dtype='<U1'),
 'Musical': array(['0'], dtype='<U1'),
 'Western': array(['0'], dtype='<U1'),
 'Film-Noir': array(['0'], dtype='<U1'),
 '(no genres listed)': array(['0'], dtype='<U1')}